<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-inverse navbar navbar-dark bg-primary fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-light navbar-toggle pull-left">
						<i class="oi oi-menu expand"></i>
					</button>
					<a class="navbar-brand" href="/voltar">Cálculo do imposto sobre o contribuinte</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>