<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="icon" href="/image/favicon.png" />
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
		rel="stylesheet" />
</head>
<body>
	<figure class="fig">
		<img id="cabecalho-img" src="/img/springboot.png" alt="SpringBoot">
		<h3>Cálculo de imposto sobre o contribuinte</h3>
	</figure>


	<div class="d-grid gap-3 col-5 mx-auto">
		<a href="/pessoafisica" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Pessoa Física</a>
		
		<a href="/pessoajuridica" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Pessoa Jurídica</a>
		
		<a href="/main" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Layout</a>
		
		<a href="/sair" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Sair</a>
	</div>

</body>
</html>