<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="content">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Apresentação da tecnologia aplicada neste projeto</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Spring-Boot</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Spring
							Tool Suite</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Thymeleaf</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">WebJars</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Hibernate</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Bootstrap</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active divText" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">O
							<a href="https://projects.spring.io/spring-boot/" target="_blank">Spring
								Boot</a> facilita a criação de aplicativos independentes baseados em
							Spring de nível de produção que você pode "apenas executar".
							Temos uma visão opinativa da plataforma Spring e das bibliotecas
							de terceiros para que você possa começar com o mínimo de
							trabalho. A maioria dos aplicativos Spring Boot precisa de muito
							pouca configuração do Spring.
						</div>
						<div class="tab-pane fade divText" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">O
							<a href="https://spring.io/tools" target="_blank">Spring Tool Suite</a> é
							um ambiente de desenvolvimento baseado na IDE Eclipse que é
							customizado para desenvolver aplicativos Spring. Ele fornece um
							ambiente pronto para uso para implementar, depurar, executar e
							implantar seus aplicativos Spring, incluindo integrações para
							Pivotal tc Server, Pivotal Cloud Foundry, Git, Maven, AspectJ e
							muito mais.
						</div>
						<div class="tab-pane fade divText" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">O
							<a href="http://www.thymeleaf.org/" target="_blank">Thymeleaf</a> é um moderno
							mecanismo de modelo Java do lado do servidor para ambientes da
							Web e autônomos. Com módulos para Spring Framework, uma série de
							integrações com suas ferramentas favoritas e a capacidade de
							conectar sua própria funcionalidade, o Thymeleaf é ideal para o
							desenvolvimento web moderno em HTML5 JVM — embora haja muito mais
							que ele possa fazer.
						</div>
						<div class="tab-pane fade divText" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://www.webjars.org/" target="_blank">WebJars</a> são bibliotecas da
							Web do lado do cliente (por exemplo, jQuery; Bootstrap)
							empacotadas em arquivos JAR (Java Archive).
						</div>
						<div class="tab-pane fade divText" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">O
							<a href="http://hibernate.org/orm/" target="_blank">Hibernate ORM</a> permite
							que os desenvolvedores escrevam mais facilmente aplicativos cujos
							dados persistem no processo do aplicativo. Como um framework
							Object/Relational Mapping (ORM), o Hibernate está preocupado com
							a persistência de dados como se aplica a bancos de dados
							relacionais (via JDBC). Além de sua própria API "nativa", o
							Hibernate também é uma implementação da especificação Java
							Persistence API (JPA). Como tal, ele pode ser facilmente usado em
							qualquer ambiente que suporte JPA, incluindo aplicativos Java SE,
							servidores de aplicativos Java EE, contêineres Enterprise OSGi,
							etc.
						</div>
						<div class="tab-pane fade divText" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> é um kit de
							ferramentas de código aberto para desenvolvimento com HTML, CSS e
							JS. Prototipe rapidamente suas ideias ou construa seu aplicativo
							inteiro com nossas variáveis ​​e mixins Sass, sistema de grade
							responsivo, extensos componentes pré-construídos e plugins
							poderosos construídos em jQuery.
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>