<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="/css/style.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />
</head>
<body>
	<figure class="fig">
		<img id="cabecalho-img" src="/img/springboot.png" alt="SpringBoot">
		<h3>Cálculo de imposto sobre o contribuinte</h3>
	</figure>


	<div class="d-grid gap-3 col-5 mx-auto">
		<a href="/pessoafisica" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Pessoa Física</a>
		<a href="/pessoajuridica" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Pessoa Jurídica</a>
		<a href="/sair" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Sair</a>
	</div>

</body>
</html>