<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="/css/style.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />
</head>
<body>
	<figure class="fig">
		<img id="cabecalho-img" src="/img/springboot.png" alt="SpringBoot">
		<h2>Pessoa Jurídica</h2>
	</figure>

	<form method="POST" class="row g-3 needs-validation" action="/salvarpj">
		<div class="col-md-12">
			<label for="validationDefault01" class="form-label">Nome
				Completo</label> <input type="text" class="form-control"
				placeholder="Digite o nome completo" id="validationDefault01" name="nome" required>
		</div>
		<div class="col-md-6">
			<label for="validationDefault02" class="form-label">Renda
				Anual</label> <input type="text" class="form-control"
				id="validationDefault02" name="rendaAnual" required>
		</div>
		<div class="col-md-6">
			<label for="validationDefault03" class="form-label">Número de Funcionários</label> 
			<input type="text" class="form-control"
				id="validationDefault03" name="numFuncionarios" required>
		</div>
		<div class="d-grid gap-3 mx-auto">
			<button class="btn btn-primary" type="submit">Salvar</button>
			<a href="/voltar" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Voltar</a>
		</div>
	</form>
</body>
</html>